html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.echart-box{
    min-width: 4532px;
    height: 1536px;
    background: url(../img/back.jpg) left top no-repeat;
    position: relative;
}
.map-box{
    position: absolute;
    width: 980px;
    height: 740px;
    top: 660px;
    left: 50px;
}
.anchorBL{
    display: none;
}